<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_NAME" value="test-service"/>
        <env name="LOG_PATH" value="tests/logs"/>
        <env name="RABBITMQ_HOST" value="localhost"/>
        <env name="RABBITMQ_PORT" value="5672"/>
        <env name="RABBITMQ_USER" value="guest"/>
        <env name="RABBITMQ_PASSWORD" value="guest"/>
        <env name="RABBITMQ_VHOST" value="/"/>
    </php>
</phpunit> 